<h1>Edit Family Detail</h1>

<form action="/families/<%= @family.id %>" method="post">
    <input type="hidden" name="_method" value="PATCH" />

    <p>Family Name: <input type="text" name="family[surname]" value="<%= @family.surname %>" /></p>

    <p>Family Code: <input type="text" name="family[family_code]" value="<%= @family.family_code %>" /></p>
    <p>Description: <input type="text" name="family[description]" value="<%= @family.description %>" /></p>
    
    <input type="submit" value="Update Family" />
</form>