
form.familymembers select{
    overflow: hidden;
}

.parent_options {
    text-align: center;
    margin: 1px auto;
    
}

#option_father {
    height: 100%;
    width: 50%;
    float: left;
}

#option_mother {
    height: 100%;
    width: 50%;
    float: left;
}

h1, h2, h3, h4 {
    text-align: center;
}


.col {
    margin: 2px;
    height: 500px;
    float: left;
    border: 1px solid black;
}

.col-1 {
    width: 38%;
    
}

.col-2 {
    width: 20%;
    text-align: center;
    
}

.col-3 {
    width: 38%;
    
}

.submit {
    width: 50%;
    margin: 20px auto;
}