
.parent_options {
    
}

#option_father {
    height: 100%;
    width: 50%;
    float: left;
}

#option_mother {
    height: 100%;
    width: 50%;
    float: left;
}

h1, h3 {
    text-align: center;
}


.col {
    height: 400px;
    float: left;
    border: 1px solid black;
}

.col-1 {
    width: 40%;
    
}

.col-2 {
    width: 20%;
    
}

.col-3 {
    width: 40%;
    
}

.submit {
    width: 50%;
    margin: 20px auto;
}