<h1>Family Tree</h1>

<div id="tree1">

    <div class="tree_box" id="main_box">
        <%= @familymember.first_name %> <%= @familymember.last_name %>
    </div>

    <div id="parents">
        <div class="tree_box" id="mother">
            Mother
        </div>
        <div class="tree_box" id="father">
            father
        </div>

    </div>





</div>

