<h1>Welcome to Family Tree</h1>

<div id="buttons">

    <a class='button' href='/users/new'>Sign Up</a>
    <a class='button' href='/families/new'>New Family</a>
    <a class='button' href='/familymembers/new'>New Family Member</a>
    
</div>