<h1>Welcome to Family Tree</h1>

<div id="home_background">

<div class="container">
    <h3>New to Family Tree?</h3>
    First<a class='button' href='/users/new'>Sign Up</a>
    Second<a class='button' href='/families/new'>Create a Family</a>
    Third<a class='button' href='/families'>Add Family Members</a>
</div>

<div class="container">
    <h3>Returning Users</h3>
    <a class='button' href='/login'>Log In</a>
    <a class='button' href='/families'>Review Your Families</a>
    <a class='button' href='/familymembers'>Review Your Family Members</a>
    <a class='button' href='/familytree1'>View Family Tree</a>
</div>


</div>