
 <h1>User Login</h1>

 <p class="flash"><%= flash[:message] %></p>
 
<div id="signin_background">
   
    <br>
    <br>
    <br>
    <form id="signin" action="/login" method="post">
        
        <p class="text_block">Username: <input type="text" name="username" /></p>
        <br>
        <p class="text_block">Password: <input type="password" name="password" /></p>
        

        </div>
        <input type="submit" value="Login">
    </form>
